Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-optin.performance.Padding,
  bugprone-branch-clone,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-narrowing-conversions,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-memset-usage,
  bugprone-swapped-arguments,
  bugprone-unchecked-optional-access,
  bugprone-use-after-move,
  performance-move-const-arg
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/app/src/main/cpp/[^/]+$'
FormatStyle: file
