BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
SortIncludes: Never
ReflowComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
SeparateDefinitionBlocks: Always
